# .htaccess
<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /karttem-administracion
  
  # Si el archivo o directorio solicitado existe, úsalo directamente
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  
  # De lo contrario, redirige todas las solicitudes a index.html
  RewriteRule ^ index.html [QSA,L]
</IfModule>